div {
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 2px 2px whitesmoke;
}

.container {
    background-color: darkblue;
    overflow: auto;
    padding: 10px;
}

.nav {
    background-color: aqua;
    width: 100%;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
}

.article {
    width: 49%;
    height: 500px;
    float: left;
    margin-right: 1%;
    box-sizing: border-box;
}

.sec-one {
    background-color: chocolate;
    height: 240px;
    margin-bottom: 10px;
}

.sec-two {
    background-color: magenta;
    height: 250px;
}

.aside {
    background-color: firebrick;
    width: 50%;
    height: 500px;
    float: left;
    margin-bottom: 20px;
}


.recommended {
    width: 100%;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    box-sizing: content-box;
}

.topic-one {
    background-color: gold;
    width: 49%;
    height: 100px;
    float: left;
    margin-right: 1%;
}

.topic-two {
    background-color: chartreuse;
    width: 50%;
    height: 100px;
    float: left;
}

.foot {
    background-color: aqua;
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}